body {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;

    margin-left: auto;
    margin-right: auto;
    width: max(640px, 50vw);
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title nav";
}

h1 {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    
    grid-area: title;
}

nav {
    grid-area: nav;
    align-self: center;
}

h2 {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
}

nav a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover, a.selected {
    color: black;
}

section, article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'heading heading heading'
        'left center right';
}

div.vertical-center {
    align-self: center;
}

div.heading {
    grid-area: heading;
}

div.left {
    grid-area: left;
    padding-right: 10%;
}

div.left2 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding-right: 10%;
}

div.center {
    grid-area: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

div.right {
    grid-area: right;
    text-align: right;
    padding-left: 10%;
}

div.right2 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    text-align: right;
    padding-left: 10%;
}

img {
    width: 100%;
}

img#headshot {
    border-radius: 50%;
    width: 70%;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

nav > ul {
    list-style-type: none;
    text-align: right;
    padding-left: 0;
}

nav > ul > li {
    display: inline;
    margin-left: 10%;
}

ul > li {
    margin-bottom: 0.5em;
}

p.italic {
    font-style: italic;
}