body {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;

    margin-left: auto;
    margin-right: auto;
    width: max(640px, 50vw);
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title nav";
}

nav {
    grid-area: nav;
    align-self: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

h1 {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    
    grid-area: title;
}

h2 {
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover, a.selected {
    color: black;
}

nav a {
    font-weight: 700;
}

.image-display {
    display: grid;
    grid-template-columns: 17fr 7fr;
    grid-template-areas:
        'heading image'
        'content image';
}

.image-display > .image-display-content {
    grid-area: content;
    align-self: start;
    padding-right: 5%;
}

.image-display > h2, .image-display > h3 {
    grid-area: heading;
    padding-right: 5%;
    margin-bottom: 0;
}

.image-display > img {
    grid-area: image;
    align-self: center;
    width: 100%;
    padding-left: 5%;
}

img#headshot {
    border-radius: 50%;
}

.resume-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'organization date'
        'role location'
        'details details';
    margin-bottom: 1em;
}

.resume-entry > .resume-entry-title {
    grid-area: organization;
    margin-top: 0;
    margin-bottom: 0;
}

.resume-entry > .resume-entry-subtitle {
    grid-area: role;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.resume-entry > .resume-entry-date {
    grid-area: date;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

.resume-entry > .resume-entry-location {
    grid-area: location;
    font-style: italic;
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.resume-entry > .resume-entry-details {
    grid-area: details;
}

nav > ul {
    list-style-type: none;
    text-align: right;
    padding-left: 0;
}

nav > ul > li {
    display: inline;
    margin-left: 10%;
}

ul > li {
    margin-bottom: 0.5em;
}